* {
    font-family: "Helvetica Neue";
    font-size: 14px;
}

QGroupBox {
    border: none;
}

QSplitter {
    width: 5px;
}

QSplitter::handle {
    background-color: #262626;
}

QSplitter::handle:hover {
    background-color: #a0a0a0;
}

QListWidget {
    background-color: #262626;
    border: none;
}

QListWidget::item:hover {
    background-color: #532c63;
}

QListWidget::item:selected {
    background-color: #492657;
}

QTreeWidget {
    background-color: #262626;
    border: none;
}

QTreeWidget::item:hover {
    background-color: #532c63;
}

QTreeWidget::item:selected {
    background-color: #492657;
}

QHeaderView::section {
    background-color: #3a3a3a;
    border: none;
    padding: 4px;
}

QLineEdit {
    border: none;
    border-radius: 3px;
}

QTextEdit {
    background-color: #262626;
    border: none;
}

QLabel {
    color: #e0e0e0;
}

QPushButton {
    border-radius: 3px;
    border: 1px solid #262626;
}

QPushButton:hover {
    background-color: #532c63;
}

QCheckBox {
    spacing: 6px;
}